body{
    background-color: rgb(255, 237, 187);
}
.square {
    position: absolute;
    top: 25%;
    left: 25%;
    background-color: rgb(139, 237, 246);
    width: 25rem;
    height: 25rem;
    margin: 0px;
    padding: 0px;
    border-radius: 1rem;

    animation-name: final;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.square:hover {
    animation-name: final;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    
}
@keyframes final {
    12.5% {
        rotate: 90deg;
        border-radius: 20rem 1rem 1rem 1rem;
    }
    25% {
        rotate: 180deg;
        border-radius: 20rem 1rem 1rem 20rem;
    }
    37.5% {
        rotate: 270deg;
        border-radius: 20rem 1rem 20rem 20rem;
    }
    50% {
        rotate: 360deg;
        border-radius: 20rem 20rem 20rem 20rem;
    }
    62.5% {
        rotate: calc(360deg + 90deg);
        border-radius: 20rem 20rem 20rem 1rem;
    }
    75% {
        rotate: calc(360deg + 180deg);
        border-radius: 20rem 20rem 1rem 1rem;
    }
    87.5% {
        rotate: calc(360deg + 270deg);
        border-radius: 20rem 1rem 1rem 1rem;
    }
    100% {
        rotate: 720deg;
        border-radius: 1rem;
    }
}
